@media(max-width:1000px) {
    footer{
        bottom: 0px;
        height: 100px;
    }
    .footer-wrapper{  
        background-color: #292c2f;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 13px sans-serif;
        padding: 10px 10px;
    }
    .footer-left{
        width: 40%;
        display: inline-block;
        vertical-align: top;
        float: left;
    }
    .footer-left h3{
        color:  #ffffff;
        font: normal 20px 'Cookie', cursive;
        margin: 0;
    }
    .footer-left span{
        color:  #e92286;
    }
    .footer-company{
        color:  #8f9296;
        font-size: 9px;
        font-weight: normal;
    }
    .footer-center{
        width: 13%;
        display: inline-block;
        vertical-align: top;
    }
    .footer-center i{
        background-color:  #e2267e;
        color: #ffffff;
        font-size: 7px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        text-align: center;
        line-height: 13px;
        margin: 0px 0px;
        vertical-align: middle;
    }
    .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
        font-weight: normal;
        font-size: 2px;
    }
    .footer-center p a{
        color:  #d4b424;
        text-decoration: none;;
    }
    .footer-right{
        width: 20%;
        display: inline-block;
        vertical-align: top;
        float: right;
    }
    .footer-team-about span{
        display: block;
        color:  #ffffff;
        font-size: 8px;
        font-weight: bold;
        margin-bottom: px;
    }
    .footer-team-about{
        line-height: 10px;
        color:  #92999f;
        font-size: 6px;
        font-weight: normal;
        margin: 0;
    }
    .footer-icons{
        margin-top: 12px;
    }
    .footer-icons a{
        display: inline-block;
        width: 8px;
        height: 8px;
        cursor: pointer;
        background-color:  #e2267e;
        border-radius: 50%;
        font-size: 5px;
        color: #ffffff;
        text-align: center;
        line-height: 9px;
        margin-right: 5px;
        margin-bottom: 5px;
        box-shadow: 0 5px 15px -5px #524848;
    }
    .tumb i{
        transition: 0.2s linear;
    }
    
    .tumb:hover{
        transform: scale(1.3);
    } 
}

@media(max-width:670px){

}